GitPython==3.1.43
Jinja2==3.1.2
Markdown==3.4.4
MarkupSafe==2.1.3
Pillow==10.0.0
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt5==5.15.10
PyYAML==6.0.1
Pygments==2.16.1
Werkzeug==2.3.6
absl-py==1.4.0
aiohttp==3.9.5
aiosignal==1.3.1
appnope==0.1.3
arff==0.9
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
branca==0.7.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click-plugins==1.1.1
click==8.1.7
cligj==0.7.2
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
docopt==0.6.2
et-xmlfile==1.1.0
ete3==3.1.3
executing==1.2.0
fastjsonschema==2.19.0
filelock==3.14.0
fiona==1.9.5
flatbuffers==23.5.26
folium==0.15.0
fonttools==4.42.0
frozenlist==1.4.1
fsspec==2024.5.0
gast==0.4.0
geopandas==0.14.1
git-filter-repo==2.38.0
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.22.0
google-pasta==0.2.0
grpcio==1.56.2
h5py==3.9.0
idna==3.4
iniconfig==2.0.0
ipykernel==6.25.1
ipython-genutils==0.2.0
ipython==8.12.3
ipywidgets==8.1.2
jax==0.4.26
jaxlib==0.4.26
jedi==0.19.0
joblib==1.4.2
jsonschema-specifications==2023.11.2
jsonschema==4.20.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
keras==2.13.1
kiwisolver==1.4.4
lark-parser==0.12.0
libclang==16.0.6
lightning-utilities==0.11.2
matplotlib-inline==0.1.6
matplotlib==3.7.2
mistune==3.0.2
ml-dtypes==0.4.0
mpmath==1.3.0
multidict==6.0.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.7
networkx==3.3
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
pip==24.0
pipreqs==0.5.0
platformdirs==3.10.0
plotly==5.18.0
pluggy==1.5.0
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pydot==2.0.0
pyparsing==3.0.9
pyproj==3.6.1
pytest==8.2.1
python-dateutil==2.8.2
pytorch-lightning==2.2.4
pytorch-model-summary==0.1.2
pytz==2023.3.post1
pyzmq==25.1.0
qujax==1.1.0
referencing==0.31.1
requests-oauthlib==1.3.1
requests==2.31.0
rpds-py==0.13.2
rsa==4.9
scikit-learn==1.4.2
scipy==1.12.0
seaborn==0.13.0
sentry-sdk==2.3.1
setproctitle==1.3.3
setup==0.0.0
setuptools==65.5.0
shapely==2.0.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
stack-data==0.6.2
statsmodels==0.14.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard-data-server==0.7.1
tensorboard==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
tensorflow==2.13.0
termcolor==2.3.0
threadpoolctl==3.5.0
tinycss2==1.3.0
torch==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tornado==6.3.2
tqdm==4.66.4
traitlets==5.9.0
typing_extensions==4.11.0
tzdata==2023.3
urllib3==1.26.16
wandb==0.17.0
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.41.1
widgetsnbextension==4.0.10
wrapt==1.15.0
yarg==0.1.9
yarl==1.9.4